{
  "openapi": "3.0.3",
  "info": { "title": "Banca Dati Giurisprudenza", "version": "1.0.1" },
  "servers": [{ "url": "https://apps.dirittopratico.it" }],
  "paths": {
    "/sentenze.html": {
      "get": {
        "summary": "Ricerca sentenze nella banca dati",
        "operationId": "ricercaSentenze",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "required": true,
            "schema": { "type": "string" },
            "description": "Termini da cercare nella banca dati con sintassi SQLITE. Usa * \"\" NEAR OR -; filtri AG:, foro:, data:, firmatoda:. Per articoli: \"art. <numero>\"."
          },
          {
            "in": "query",
            "name": "exp",
            "required": true,
            "schema": { "type": "string", "enum": ["json"] },
            "description": "Formato export: json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Sentenza" }
                }
              }
            }
          }
        },
        "security": [{ "CookieAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "Sentenza": {
        "type": "object",
        "properties": {
          "AG": { "type": "string" },
          "foro": { "type": "string" },
          "numero": { "type": "string" },
          "data": { "type": "string" },
          "contenuto": { "type": "string" },
          "firmatoDa": { "type": "string" },
          "RG": { "type": "string" },
          "md5": { "type": "string" },
          "link": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "REPLACE_WITH_COOKIE_NAME"
      }
    }
  }
}
